*{
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    font-weight: normal;
}
@font-face {
    font-family: title-font;
    src: url(CaviarDreams-webfont.woff);
}

.tab-bar .active{
  border-bottom: 2px solid grey;  
}
